body {
    background: #cdcbcb;
}

.bl-background {
    font: normal 15px "Calibri";
    font-size: 14px;

    width: 100%;
    background: #cdcbcb;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px;
    max-width: 1200px;
}

.bl-list {
    width: 68%;
    background: white;
    display: inline-block;
    border-radius: 5px;

    box-sizing: border-box;
}

.bl-bought {
    width: 30%;
    display: inline-block;
    background: white;
    float: right;
    border-radius: 5px;

    box-sizing: border-box;
}

.bl-row {
    width: 97%;
    border-top: 1px solid #cdcbcb;
}
.bl-input {
    float: left;
}

.bl-product {
    align-items: center;
    text-align: left;
    width: 40%;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
}

.bl-count {
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
}

.bl-buttons {
    width: 18%;
    display: inline-block;
    box-sizing: border-box;
}

.bl-row {
    padding: 15px;
    vertical-align: middle;
}

/*Кнопки*/
.bl-minus {
    color: white;
    background: #c80000;
    width: 36px;
    height: 36px;
    outline: none;

    border-radius: 18px;
    border: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-color: #880000;
}

.bl-minus:active {
    outline: none;
    background-color: #880000;
}

.bl-label {
    background-color: #cdcbcb;
    padding: 8px;
    border-radius: 5px;
}
.bl-plus {
    color: white;
    background: #04a613;
    width: 36px;
    height: 36px;
    outline: none;

    border-radius: 18px;
    border: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-color: #046a0d;
}

.bl-plus:active {
    outline: none;
    background-color: #046a0d;
}

.bl-add-button {
    background: #559fff;
    width: 19.4%;
    float: right;
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
    height: 38px;
    outline: none;

    color: white;
    font: 22px "Calibri";

    border: solid;
    border-width: 0;
    border-color: #4173bb;
    border-bottom-width: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.bl-add-button:active {
    outline: none;
    background-color: #4173bb;
}

.bl-add-button::after {
    background-color: rebeccapurple;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    margin-top: -25px;
    margin-left: -110px;

    padding: 5px;
    color: white;

    font: 17px "Calibri";
    content: attr(data-tooltip);
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transform: scale(0.5);
    transition: all 0.4s ease-in-out;

}

.bl-add-button:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateY(-30px) scale(1);
}

.bl-badge{
    position: fixed;
    width: 150px;
    height: 150px;
    left: 80px;
    bottom: -100px;
    padding-top: 20px;
    border-radius: 10px;
    border: solid;
    border-width: 3px;
    border-color: rebeccapurple;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font: bold 30px "Helvetica";
    transition: all 1s ease;
}

.bl-badge:hover {
    transform: translateY(-60px);
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.bl-created-by {
    font: normal 16px "Calibri";
    color: white;
    padding: 20px;
}

.bl-bought-button {
    background-color: #cdcbcb;
    height: 36px;
    width: 80px;
    outline: none;

    border-radius: 5px;
    border: solid;
    border-width: 0;
    border-bottom-width: 3px;
    border-color: #817f7f;
}

.bl-bought-button:active {
    outline: none;
    background-color: #817f7f;
}

.bl-remove-button {
    background-color: #c80000;
    color: white;
    height: 36px;
    width: 36px;
    outline: none;

    border-radius: 5px;
    border: solid;
    border-width: 0;
    border-bottom-width: 3px;
    border-color: #880000;
}

.bl-remove-button:active {
    outline: none;
    background-color: #880000;
}

.bl-title {
    font: bold 20px "Calibri";
    padding: 10px;
    border-top: 1px solid #cdcbcb;
}

.bl-left {
    font: normal 14px "Calibri";
    display: inline-block;
    text-align: center;
    padding: 5px;
    background-color: #cdcbcb;
    border-radius: 5px;
}

.bl-left-number {
    text-align: center;
    padding: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    display: inline-block;

    color: white;
    background-color: darkorange;

    border-radius: 10px;

}

@media (max-width: 1020px) {
    .bl-list {
        width: 100%;
    }

    .bl-bought {
        width: 100%;
    }
}

@media print {
    .bl-badge {
        background-color: white;
        border-color: rebeccapurple;
        color: black;
    }

    .bl-buy-list {
        display: none;
        visibility: hidden;
    }

    .bl-created-by {
        padding-top: 0;
        color: black;
    }
}

input {
    width: 80%;
    height: 32px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

